{% extends "blog/base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Registrácia" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Registrácia" %}
    {% endelement %}
    <p>
        {% blocktrans %}Máte už na tejto stránke účet ? Ak áno, tak sa prosím <a href="{{ login_url }}">prihláste</a>.{% endblocktrans %}
    </p>
    {% url 'account_signup' as action_url %}
    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button tags="prominent,signup" type="submit" %}
                {% trans "Registrácia" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}
