<!DOCTYPE html>
{% load static %}
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <div class="container">
        <h1>Kontaktný formulár</h1>
        <form method="POST"> <!-- class="post-form" action = 'confirmation/'> -->
            {% csrf_token %}
            <input class="name" name="message-name" type="text" placeholder="Zadajte Vaše meno">
            <input class="email" name="message-email" type="email" placeholder="Zadajte Váš Email">
            <textarea name="message" id="message" cols="30" rows="10" placeholder="Npíšte nám Vašu správu"></textarea>
            <button type="submit">Odošli správu</button>
<!--            <h3>Thanks for your contact!</h3> -->
        </form>
    </div>
<style>
    .container {
        position: relative;
        height: 100vh;
    }

    form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    h1 {
        text-align: center;
    }
</style>
</body>
</html>