@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #E99269;
}

.box {
    margin: 40px 0;
}

form {
    transform: translateX(50%);
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 5px;
    border: 1px solid grey;
    border-radius: 7%;
    box-shadow: 10px 10px 5px 5px #1D3557;
    background-color: #F1FAEE;
}

.name,
.email,
#message {
    width: 90%;
    padding: 10px 0;
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: none;
    background-color: #F1FAEE;
    border-bottom: 1px solid #C81927;
    color: #C81927;
    outline: none;
}

#message {
    resize: none;
}

button {
    margin-top: 20px;
    padding: 10px 180px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    background-color: #457B9D;
    color: #F1FAEE;
    transition: 0.3s;
    border: none;
}

button:hover {
    background-color: #1D3557;
}